.full-screen-menu {
  /* Full screen overlay */
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;
}

.full-screen-menu__close {
  /* Shown at top left corner */
  left: 1rem;
  position: absolute;
  top: 1rem;
}

/* You can use the close button to create a button for closing the menu. */
